@import 'tailwindcss';
@plugin 'tailwindcss-animate';
@import '@repo/ui/styles';
@source '../../../../packages/ui/src/common/';
@source '../**/*.{ts,tsx}';

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

/* 파이어폭스 등에서 스크롤바 숨기기 */
.custom-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@theme {
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-in;
}

img {
  -webkit-touch-callout: none;
}
