@import 'tailwindcss';
@plugin 'tailwindcss-animate';
@import '@repo/ui/styles';
@source '../../../../packages/ui/src/common/';

html,
body {
  max-width: 390px;
  min-height: 100vh;
  margin: 0 auto;
}
